extends ../layout

block content
    h3= title
    p
    u
        a(href="#{linkURL}") #{link}
    p
    table(class="table table-striped table-bordered ")
        thead
            th Genre
            th Artist
            th Album
        tbody
        for onealbum in albums
            tr
                td #{onealbum.genre}
                td(id="artist") #{onealbum.artist}
                td 
                    u
                        a(href="#{onealbum._id}") #{onealbum.album}
