extends ../layout

block content
    h3= title
    a(href="#{linkURL}") #{link}

    table(class="table table-striped table-bordered ")
        thead
            th Genre
            th Artist
            th Album
        tbody
        for onealbum in albums
            tr
                td #{onealbum.genre}
                td(id="artist") #{onealbum.artist}
                td 
                    a(href="#{onealbum._id}") #{onealbum.album}
